// main: ../style.less


.news {
	margin-top: 15rem;
}

.news__header {
	text-align: center;
}

.news__title {
	font-size: 3rem;
	font-weight: 700;
	line-height: 3;
	text-transform: uppercase;
	color: @black;
}

.news__text {

}
