// main: ../style.less

.reviews {
	background-color: #332F30 url(/images/reviews_bg.png) center no-repeat;
	padding: 4.53rem 0;

}

.reviews__item {
	
}

.reviews__text {
	font-size: 0.93rem;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 2.13;
}

.reviews__author {

}

.reviews__name {
	font-size: 1.066rem;
	font-weight: 700;
	line-height: 1.5;
}

.reviews__company {
	font-size: 0.93rem;
	font-weight: 300;
	font-style: italic;
	line-height: 1.5;
}

.reviews__rating {

}
